<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\CommonExtensions\Microsoft\NuGet\Offline\nuget.org v3 index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Microsoft Visual Studio Offline Packages">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>

	<config>
		<add key="globalPackagesFolder" value="" />
		<add key="repositoryPath" value="" />
	</config>
</configuration>